@import url('variable.css');
*{ 
    /* Se reinician parametros a defecto*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.header {
    /* background: red; */
    /* padding: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
/******************header******************/
.div__logo {
    /* background:  blue; */
    /* padding: 15px; */
}
.div__menu {
    /* background: green; */
    /* padding: 15px; */
}
.ul__menu{
    /* background: violet; */
    /* padding: 15px; */
    display: flex;
    gap: 100px;
    padding-right: 100px;
    color: #eee;
}
.ul__menu li{
    list-style: none;
}
/******************main******************/
.main{
    background: red;
    padding: 15px;
}
.section__home{
    background: blue;
    padding: 15px;
}
.article_home{
    background: green;
    padding: 15px;
}
