@import url('variables.css');
*{
    margin: 0;
}
body{
    background: var(--color-gradient-2);
}
/***************************** header *********************************/
.header {
    /* background: red; */
    /* padding: 15px; */
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}
.div__logo {
    /* background: blue; */
    /* padding: 15px; */
    display: flex;
    padding-top: 9px;
    padding-left: 5px;
    width: 46px;
    height: 46px;

}
.div__menu {
    display: flex;
    /* justify-content: center; */
}
.ul__menu {
    /* background: green; */
    /* padding: 15px; */
    display: flex;
    gap: 59px;
    padding-top: 21px;
    padding-left: 695px;
    /* padding-left: 650px; */
}
.ul__menu li{
    list-style: none;
}
.ul__menu a{
    text-decoration: none;
    font-family: "Montserrat-SemiBold";
    font-size: 17px;
    color: var(--font-color-3);
}
.div__seeker {
    /* background: orange; */
    /* padding: 15px; */
    display: flex;
    gap: 18px;
    padding-right: 46.82px;
    padding-top: 14.69px;
}
.div__seeker img{
    width: 20px;
    height: 15.17px;
    display: flex;
    justify-items: center;
}
/***************************** main *********************************/
.main {
    /* background: red; */
}
.div__line {
    background: blue;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.section__homeMenu {
    background: red;
    /* padding: 15px; */
    display: flex;
    align-items: center;
}
.last__menu {
    border-radius: 5px;
    background: var(--color-1);
    display: flex;
    padding-inline: 13px;
    padding-block: 5px;
    padding-right: 136px;
}
.ul__blog {
    background: green;
    display: flex;
    gap: 59px;
    align-items: center; 
    padding-left: 136px;  
    padding-right: 356px; 
}
.ul__blog li{
    list-style: none;
    font-family: "Montserrat-Light";
    font-size: 15px;
    display: flex;
}
.ul__blog a{
    color: var(--font-color-3);
    text-decoration: none;
}
.last__menu {
    border-radius: 5px;
    background: var(--color-1);
    display: flex;
    padding-inline: 13px;
    padding-block: 5px;
    /* padding-right: 136px; */
}
.last__menu li{
}
.last__menu a{
    /* background: violet; */
    color: var(--font-color-3);
    text-decoration: none;
    font-size: 15px;
    font-family: "Montserrat-Medium";
}


