:root{
    --font-color-1: #eee;
    --color-gradient-1: #376E40;
    --color-gradient-2: #071917;
    --banner-1:url(/storage/img/Banner.png);
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url(/storage/font/Montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url(/storage/font/Montserrat/static/Montserrat-Medium.ttf);
}