<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleBlog.css">
    <title>Blog</title>
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="div__logo">
            <img src="../storage/img/Photo.png">
        </div>
        <div class="div__menu">
            <ul class="ul__menu">
                <li><a href="">Blog</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="div__seeker">
            <img src="../storage/img/len.png">
            <img src="../storage/img/user.png">
        </div>
    </header>
    <!-- main --> 
    <main class="main">
        <div class="div__line">
            <img src="/storage/img/Line.png">
        </div>
        <section class="section__homeMenu">
        <div>
            <ul class="ul__blog">
                <div class="last__menu">
                    <a href="#Latest Blog">Latest Blog</a>
                </div>
                <li><a href="#Urban Planning">Urban Planning</a></li>
                <li><a href="#Graphics Design">Graphics Design</a></li>
                <li><a href="#Web Design">Web Design</a></li>
                <li><a href="#UX/UI Designg">UX/UI Design</a></li>
                <li><a href="#Technology">Technology</a></li>
            </ul>
        </div>
    </section>
    </main>
</body>
</html>